@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

.TodoTemplate {
  width: 512px;
 
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  border-radius: 4px;
  overflow: hidden;
}
.TodoTemplate > .app-title {
    background: #d1c0a5;
    color: white;
    height: 150px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'Gowun Dodum', sans-serif;
  }
 
.TodoTemplate >  .content {
    background: white;
  }
  .TodoTemplate .imwidth {
    height: 180px;
    transform: translate(50px, -30px);
  }

.TodoTemplate .app-footer{
  background: #d1c0a5;
  color: #fff;
  text-align: center; line-height: 50px;
  font-family: 'Gowun Dodum', sans-serif;
  height: 50px;
}
